@charset "UTF-8";

body {
  background-color: teal;
  color: white;
  font-family: Halvetica, Arial, sans-sherif;
  font-size: 87.5%;
  line-height: 1.5;
  text-align: left;
}

.game {
  width: 98%;
  background-color: purple;
  margin:-10px;
  padding: 30px;
}

.pool {
  border: solid 1px #aaa;
  border-radius: 50%;
  width: 256px auto;
  height: 256px auto;
  float: right;

  /* display: inline-block; */
  background-color: slateblue;
  font-size: 24pt;
  padding: 12px 15px 12px 15px;
}

.drawPool {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

/* .drawPool .pool {
  background-image: url(./ball.png);
  background-size: cover;
  font-weight: bold;
  font-size: 58px;
  color: black;
  text-align: center;
}
 */


/* .container {
  width: 30%;
  margin: 0px auto;
} */

/* #slider {
  width: 20%;
  margin: 20px auto;
} */
