@charset "UTF-8";

body {
  background-color: teal;
  color: white;
  font-family: Halvetica, Arial, sans-sherif;
  font-size: 87.5%;
  line-height: 1.5;
  text-align: left;
}

.game {
  width: 98%;
  background-color: purple;
  margin:-10px;
  padding: 30px;
}

.pool2 {
  color: black;
  width: 90px;
  height: 90px;
  padding: solid 1px #808080;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  font-size: 36pt;
  text-align: center;
  margin: 3px;

}


.pool {
  border: solid 1px #aaa;
  border-radius: 60%;
  width: 256px auto;
  height: 256px auto;
  float: right;
  background-color: slateblue;
  font-size: 24pt;
  padding: 12px 15px 12px 15px;
}

.players {
  float: left;
  width: 600px;
}

.player{ 
  width: 100%;
  border: solid 2px #ccc;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin: 15%;
  vertical-align: top;
}

.player.active {
  border: solid 2px #1caff6;
}

.drawPool {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

/* .drawPool .pool {
  background-image: url(./ball.png);
  background-size: cover;
  font-weight: bold;
  font-size: 58px;
  color: black;
  text-align: center;
} */



/* .container {
  width: 30%;
  margin: 0px auto;
} */

/* #slider {
  width: 20%;
  margin: 20px auto;
} */
